# .NET build folders
bin/
obj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio Code
.vscode/
*.code-workspace

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Docker
.docker/

# Environment files
*.env
appsettings.*.json
!appsettings.json
!appsettings.Example.json

# Ignore solution/obj directory
solution/obj/

# Add solution/app/wwwroot/ to the ignore list
solution/app/wwwroot/

.DS_Store
